# Hier wäre also eine Überschrift
## Das wäre die Unterüberschrift
Jetzt würde ich loslegen, aber wie käme hier ein Bild hinein?

- Punkt 1
- Punkt 2
- *Punkt 3*

In [107]:
print("Hello World")

Hello World

In [108]:
name ="Ada Lovelace"

In [109]:
print(name)

Ada Lovelace

In [110]:
name

'Ada Lovelace'

In [111]:
age = 73

In [112]:
print(age)

73

In [113]:
size  = 1.7123

In [114]:
print (size)

1.7123

In [115]:
#defines some personal features in Bool values
knows_math = True
likes_slacking = False

In [116]:
name = "Henry Ford"

In [117]:
type(size)

float

In [118]:
type(name)

str

In [119]:
name  = "Diddy"

In [120]:
age = 56

In [121]:
age = 48

In [122]:
# Operatoren
5 + 5

10

In [123]:
#Operatoren
10 + 10

20

In [124]:
age * 100

4800

In [125]:
name + name + name

'DiddyDiddyDiddy'

In [126]:
name = "Diddy"

In [127]:
new_number = "10"
int(new_number)

10

In [128]:
type(new_number)

str

In [129]:
new_number = int(new_number)

In [130]:
type(new_number)

int

In [131]:
# Funktionen und Methoden
len(name)

5

In [132]:
name = "Ada Lovelace"

In [133]:
len (name)

12

In [134]:
name

'Ada Lovelace'

In [135]:
name.upper()

'ADA LOVELACE'

In [136]:
name.lower()

'ada lovelace'

In [137]:
name_capital = name.upper()

In [138]:
name.count("a")

2

In [139]:
name.count("l")

1

In [140]:
name.count("A")

1

In [141]:
buchstabe = "c"
name.count(buchstabe)

1

In [142]:
buchstabe = "L"
name.count(buchstabe)

1

In [143]:
name.replace?

In [144]:
name.count?

In [145]:
name.replace("Ada", "AdaWonderful")

'AdaWonderful Lovelace'

In [146]:
float

float

In [147]:
#Liste und Dictionaries

In [167]:
names = ["Diddy", "Ada Lovelace", "Curie", "Phelps"]

In [168]:
names[3]

'Phelps'

In [150]:
names[0]

'Diddy'

In [151]:
names[3]

'Phelps'

In [152]:
names[-1]

'Phelps'

In [153]:
#Slicing
names[0:4]

['Diddy', 'Lovelace', 'Curie', 'Phelps']

In [154]:
names[0:-2]

['Diddy', 'Lovelace']

In [155]:
names[:2]

['Diddy', 'Lovelace']

In [156]:
names[3:-1]

[]

In [157]:
names[0:-2]

['Diddy', 'Lovelace']

In [158]:
names[0:-3]

['Diddy']

In [165]:
#Dictionary
authors_and_birth_years = {"Phelps": 1998, 
                           "Diddy": 1972,
                          "Curie": 1881,
                          "Ada Lovelace": [1882, "London", "1903"]}

In [166]:
authors_and_birth_years[names[3]]

1998

In [161]:
authors_and_birth_years[names[0]]

1972

In [169]:
authors_and_birth_years

{'Phelps': 1998,
 'Diddy': 1972,
 'Curie': 1881,
 'Ada Lovelace': [1882, 'London', '1903']}

In [172]:
authors_and_birth_years["Ada Lovelace"][1]

'London'

In [173]:
authors_and_birth_years[names[3]]

1998

In [181]:
x = 5

In [182]:
print(x)

5

In [185]:
y = 10

In [186]:
print(y)

10

In [187]:
print(y+x)

15

In [188]:
%who

age	 authors_and_birth_years	 buchstabe	 knows_math	 likes_slacking	 name	 name_capital	 names	 new_number
size	 x	 y

In [190]:
del(likes_slacking)

In [191]:
# for-Schleifen
names = ["Diddy", "Ada Lovelace", "Curie", "Phelps"]

In [200]:
for name in names:
    print(name + " was a great lady")
    print(". . . . . .")
print("__________")

Diddy was a great lady
. . . . . .
Ada Lovelace was a great lady
. . . . . .
Curie was a great lady
. . . . . .
Phelps was a great lady
. . . . . .
__________

In [220]:
# conditionals
temp = 10

In [221]:
if temp > 15:
    print("too hot")

In [222]:
if temp == 20:
    print("just right")
elif temp >= 8:
    print("very cold")
else:
    print("not right")

very cold

In [223]:
temp < 25

True